html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.game {
  width: 100%;
  display: grid;
  flex-grow: 1;
}

.filled {
  background-color: black;
}
